<h3>Hello {{FirstName}},</h3>

<p>The link below will provide access to your LethalModding.com account:</p>

<p><a href="{{ConfirmationURL}}">Magic Link</a></p>

<p>If you are logging in to the Concrete Mod Manager, use the following token instead:</p>

<p><code>{{LoginToken}}</code></p>

<p>Feel free to reach out to us at <a href="mailto:support@LethalModding.com">info@LethalModding.com</a> if you have any questions or need further assistance.</p>

<img
    alt="LethalModding Logo"
    src="{{LogoSrc}}"
    width="256"
/><br />
LethalModding<br />
Website: <a href="https://www.LethalModding.com">www.LethalModding.com</a><br />
Email: <a href="mailto:support@LethalModding.com">support@LethalModding.com</a>
