<a href="https://www.LethalModding.com"><img
    alt="LethalModding Logo"
    src="{{LogoSrc}}"
    height="96"
    width="96"
/></a><br />
<h3>Hello {{FirstName}},</h3>

<p>The link below will provide access to your LethalModding.com account:</p>

<p><a href="{{ConfirmationURL}}">Magic Link</a></p>

<p>Feel free to reach out to us at <a href="mailto:support@LethalModding.com">info@LethalModding.com</a> if you have any questions or need further assistance.</p>
